.ExamplePage {
    text-align: center;
}

.ExamplePage-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .ExamplePage-logo {
        animation: ExamplePage-logo-spin infinite 20s linear;
    }
}

.ExamplePage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ExamplePage-link {
    color: #61dafb;
}

@keyframes ExamplePage-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
