{
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "prettier/prettier"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}